<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jpeony.user.server.mapper.UserInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jpeony.user.server.pojo.domain.UserInfoDO">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="age" property="age"/>
    </resultMap>

    <!-- 查询用户信息 -->
    <select id="queryUserInfo" resultMap="BaseResultMap">
        select
               user_id,
               user_name,
               age
        from user_info
        where user_id = #{userId}
    </select>

    <!-- 查询用户信息 -->
    <select id="queryUserInfoMaster" resultMap="BaseResultMap">
        select
               user_id,
               user_name,
               age
        from user_info
        where user_id = #{userId}
    </select>

    <!-- 查询用户信息 -->
    <select id="queryUserInfoDTO" resultType="com.jpeony.user.server.pojo.domain.UserInfoDO">
        select
            user_id,
            user_name,
            age
        from user_info
        where user_id = #{userId} and age = #{age}
    </select>
</mapper>
