<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.PaperMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.Paper">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="cid" jdbcType="INTEGER" property="cid" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="portraits" jdbcType="VARCHAR" property="portraits" />
        <result column="vxnum" jdbcType="VARCHAR" property="vxnum" />
        <result column="money" jdbcType="INTEGER" property="money" />
        <result column="intro" jdbcType="VARCHAR" property="intro" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="chosen" jdbcType="INTEGER" property="chosen" />
        <result column="del" jdbcType="INTEGER" property="del" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    </resultMap>

    <insert id="pushPaper" parameterType="com.mhjy.entity.Paper">
        insert into co_paper (uid, cid, sex, portraits, vxnum, money, intro, status, chosen, created_at, updated_at)
        values (#{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER},
                #{portraits,jdbcType=VARCHAR}, #{vxnum,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}
               , #{intro,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{chosen,jdbcType=INTEGER}
               , #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP})
    </insert>

    <select id="paperWithId" resultType="com.mhjy.entity.Paper">
        select * from co_paper where id=#{id}
    </select>

    <select id="chosenList" resultType="com.mhjy.entity.Paper">
        select sex, intro from co_paper where status=1 and chosen=1
    </select>

    <select id="paperWithVxnum" resultType="com.mhjy.entity.Paper">
        select * from co_paper where status=1 and vxnum=#{vxnum}
    </select>

    <select id="paperWithid" resultType="com.mhjy.entity.Paper">
        select * from co_paper where id=#{paperid}
    </select>

    <select id="paperWithUidAndVxnum" resultType="com.mhjy.entity.Paper">
        select * from co_paper where status=#{status} and vxnum=#{vxnum} and uid=#{uid}
    </select>

    <select id="pullPaper" resultType="com.mhjy.entity.Paper">
        select * from co_paper where status=1 and sex=#{sex}
    </select>

    <select id="sysAllPushPaperList" resultType="com.mhjy.entity.Paper">
        select * from co_paper
        <where>
            <if test="sex != 0">
                and sex=#{sex}
            </if>
            <if test="intro != null">
                and intro like CONCAT('%',#{intro},'%')
            </if>
                and del != 1
        </where>
    </select>

    <select id="sysPushPaperList" resultType="com.mhjy.entity.Paper">
        select * from co_paper
        <where>
                and cid=#{cid}
            <if test="sex != 0">
                and sex=#{sex}
            </if>
            <if test="intro != null">
                and intro like CONCAT('%',#{intro},'%')
            </if>
                and del != 1
        </where>
    </select>

    <update id="sysUpdatePaperEnable">
        update co_paper
        set status = #{status, jdbcType=INTEGER},
            updated_at = #{updated_at, jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

    <update id="updatePaperEnable">
        update co_paper
        set status = #{status, jdbcType=INTEGER},
            updated_at = #{updated_at, jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

    <update id="sysUpdatePaperChosen">
        update co_paper
        set chosen = #{chosen, jdbcType=INTEGER},
            updated_at = #{updated_at, jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

    <update id="sysUpdatePaperDel">
        update co_paper
        set del = #{del, jdbcType=INTEGER},
            updated_at = #{updated_at, jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

    <delete id="sysRealDeletePaper">
        delete from co_paper where id = #{id}
    </delete>

</mapper>