<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.SysCashOutFeeMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.SysCashOutFee">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="fee" jdbcType="VARCHAR" property="fee" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="created_by" jdbcType="INTEGER" property="created_by" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
        <result column="updated_by" jdbcType="INTEGER" property="updated_by" />
    </resultMap>

    <select id="sysCashOutFee" resultType="com.mhjy.entity.SysCashOutFee">
        select * from co_cash_out_fee where uid=#{uid} and type=#{type}
    </select>

    <select id="sysFeeList" resultType="com.mhjy.entity.SysCashOutFee">
        select * from co_cash_out_fee
        <where>
            <if test="type != 0">
               and type=#{type}
            </if>
            <if test="username != null">
               and username like CONCAT('%',#{username},'%')
            </if>
        </where>
    </select>

    <update id="sysUpdateFee">
        update co_cash_out_fee
        set fee=#{fee,jdbcType=VARCHAR}
        where id=#{id}
    </update>

    <delete id="sysDeleteFee">
        delete from co_cash_out_fee where id=#{id}
    </delete>

    <insert id="addCashOutFee" parameterType="com.mhjy.entity.SysCashOutFee">
        insert into co_cash_out_fee (uid, type, fee, username, created_at, created_by, updated_at, updated_by)
        values (#{uid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{fee,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}
               , #{created_at,jdbcType=TIMESTAMP}, #{created_by,jdbcType=INTEGER}
               , #{updated_at,jdbcType=TIMESTAMP}, #{updated_by,jdbcType=INTEGER}))
    </insert>

</mapper>