<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.SysCompanyUserMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.SysCompanyUser">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="cid" jdbcType="INTEGER" property="cid" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="invited_at" jdbcType="TIMESTAMP" property="invited_at" />
        <result column="invited_by" jdbcType="INTEGER" property="invited_by" />
        <result column="invited_by_type" jdbcType="INTEGER" property="invited_by_type" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="created_by" jdbcType="INTEGER" property="created_by" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
        <result column="updated_by" jdbcType="INTEGER" property="updated_by" />
    </resultMap>

    <select id="sysCompanyUserList" resultType="com.mhjy.entity.SysCompanyUser">
        select * from sys_company_user where cid = #{cid}
                                       and DATE_FORMAT(invited_at,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
                                       and DATE_FORMAT(invited_at,'%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d')
    </select>

    <select id="allSysCompanyUserList" resultType="com.mhjy.entity.SysCompanyUser">
        select * from sys_company_user where DATE_FORMAT(invited_at,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
                                         and DATE_FORMAT(invited_at,'%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d')
    </select>

    <select id="userInfoWithUid" resultType="com.mhjy.entity.SysCompanyUser">
        select * from sys_company_user where uid = #{uid}
    </select>

    <select id="apprenticeList" resultType="com.mhjy.entity.SysCompanyUser">
        select * from sys_company_user where invited_by = #{uid}
    </select>

    <select id="getMyMaster" resultType="com.mhjy.entity.SysCompanyUser">
        select * from sys_company_user where uid = #{uid}
    </select>

    <insert id="addSysCompanyUser" parameterType="com.mhjy.entity.SysCompanyUser">
        insert into sys_company_user (cid, uid, invited_at, invited_by, invited_by_type, created_at, created_by, updated_at, updated_by)
        values (#{cid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}
               , #{invited_at,jdbcType=TIMESTAMP}, #{invited_by,jdbcType=INTEGER}, #{invited_by_type,jdbcType=INTEGER}
               , #{created_at,jdbcType=TIMESTAMP}, #{created_by,jdbcType=INTEGER}
               , #{updated_at,jdbcType=TIMESTAMP}, #{updated_by,jdbcType=INTEGER})
    </insert>
</mapper>
