<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.SysRole">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at"/>
        <result column="created_by" jdbcType="INTEGER" property="created_by"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at"/>
        <result column="updated_by" jdbcType="INTEGER" property="updated_by"/>
    </resultMap>

    <select id="allRoles" resultType="com.mhjy.entity.SysRole">
        select *
        from sys_role
    </select>

    <select id="roleWithId" resultType="com.mhjy.entity.SysRole">
        select *
        from sys_role
        where id = #{roleId}
    </select>

    <select id="roleWithRolename" resultType="com.mhjy.entity.SysRole">
        select *
        from sys_role
        where name = #{rolename}
    </select>

    <insert id="addSysRole" parameterType="com.mhjy.entity.SysRole">
        insert into sys_role (name, intro, sort, created_at, created_by, updated_at, updated_by)
        values ( #{name,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}
               , #{created_at,jdbcType=TIMESTAMP}, #{created_by,jdbcType=INTEGER}
               , #{updated_at,jdbcType=TIMESTAMP}, #{updated_by,jdbcType=INTEGER})
    </insert>

    <update id="updateSysRole">
        update sys_role
        set name = #{name,jdbcType=VARCHAR},
            intro = #{intro,jdbcType=VARCHAR},
            sort = #{sort,jdbcType=INTEGER},
            updated_at = #{updated_at,jdbcType=TIMESTAMP},
            updated_by = #{updated_by,jdbcType=INTEGER}
        where id = #{id}
    </update>


    <delete id="delByRoleId">
        delete from sys_role where id = #{roleId}
    </delete>

</mapper>
