<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.SysSetMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.SysSet">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="value" jdbcType="VARCHAR" property="value" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="created_by" jdbcType="INTEGER" property="created_by" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
        <result column="updated_by" jdbcType="INTEGER" property="updated_by" />
    </resultMap>

    <insert id="addSet" parameterType="com.mhjy.entity.SysSet">
        insert into sys_set (uid, type, value, desc, created_at, updated_at)
        values (#{uid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}
               , #{created_at,jdbcType=TIMESTAMP}, #{created_by,jdbcType=INTEGER}
               , #{updated_at,jdbcType=TIMESTAMP}, #{updated_by,jdbcType=INTEGER})
    </insert>

    <select id="sysSet" resultType="com.mhjy.entity.SysSet">
        select * from sys_set where type=#{type}
    </select>

    <select id="sysSetList" resultType="com.mhjy.entity.SysSet">
        select * from sys_set
    </select>

    <update id="sysUpdateSet">
        update sys_set
        set value=#{value,jdbcType=VARCHAR}
        where id=#{id}
    </update>

</mapper>
