<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.SysUserRole">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="user_id" />
        <result column="role_id" jdbcType="INTEGER" property="role_id" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="created_by" jdbcType="INTEGER" property="created_by" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
        <result column="updated_by" jdbcType="INTEGER" property="updated_by" />
    </resultMap>

    <select id="userRoleWithUid" resultType="com.mhjy.entity.SysUserRole">
        select * from sys_user_role where user_id = #{uid}
    </select>

    <delete id="delUserRolesWithUid">
        delete from sys_user_role where user_id = #{uid}
    </delete>

    <insert id="addSysUserRole" parameterType="com.mhjy.entity.SysUserRole">
        insert into sys_user_role (user_id, role_id, created_at, created_by, updated_at, updated_by)
        values (#{user_id,jdbcType=INTEGER}, #{role_id,jdbcType=INTEGER}
               , #{created_at,jdbcType=TIMESTAMP}, #{created_by,jdbcType=INTEGER}
               , #{updated_at,jdbcType=TIMESTAMP}, #{updated_by,jdbcType=INTEGER})
    </insert>
</mapper>
