<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="openid" jdbcType="VARCHAR" property="openid" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="country" jdbcType="VARCHAR" property="country" />
        <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    </resultMap>

    <select id="getUserWithOpenId" resultType="com.mhjy.entity.User">
        select * from co_user where openid = #{openId}
    </select>

    <select id="getUserInfoWithUid" resultType="com.mhjy.entity.User">
        select * from co_user where id = #{uid}
    </select>

    <insert id="addUser" parameterType="com.mhjy.entity.User">
        insert into co_user (openid, nickname, sex, city, province, country, headimgurl, created_at, updated_at)
        values (#{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}
               , #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}
               , #{headimgurl,jdbcType=VARCHAR}, #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP})
    </insert>
</mapper>
