<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jpeony.lotus.core.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.jpeony.lotus.core.pojo.domain.SysMenu">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parent_id"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="hidden" jdbcType="INTEGER" property="hidden"/>
        <result column="redirect" jdbcType="VARCHAR" property="redirect"/>
        <result column="alwaysShow" jdbcType="INTEGER" property="alwaysShow"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="noCache" jdbcType="INTEGER" property="noCache"/>
        <result column="breadcrumb" jdbcType="INTEGER" property="breadcrumb"/>
        <result column="affix" jdbcType="INTEGER" property="affix"/>
        <result column="activeMenu" jdbcType="VARCHAR" property="activeMenu"/>
        <result column="enable" jdbcType="INTEGER" property="enable"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>

    <select id="routesWithParentId" resultType="com.jpeony.lotus.core.pojo.domain.SysMenu">
        select *
        from sys_menu
        where parent_id = #{parentId}
        order by sort asc
    </select>

    <select id="routeWithId" resultType="com.jpeony.lotus.core.pojo.domain.SysMenu">
        select *
        from sys_menu
        where id = #{id}
    </select>

    <delete id="delSysRouteByMenuId">
        delete
        from sys_menu
        where id = #{menuId}
    </delete>

    <update id="editSysRoute">
        update sys_menu
        set name       = #{path,jdbcType=VARCHAR},
            component  = #{component,jdbcType=VARCHAR},
            hidden     = #{hidden,jdbcType=INTEGER},
            redirect   = #{redirect,jdbcType=VARCHAR},
            alwaysShow = #{alwaysShow,jdbcType=INTEGER},
            name       = #{name,jdbcType=VARCHAR},
            title      = #{title,jdbcType=VARCHAR},
            icon       = #{icon,jdbcType=VARCHAR},
            noCache    = #{noCache,jdbcType=INTEGER},
            breadcrumb = #{breadcrumb,jdbcType=INTEGER},
            affix      = #{affix,jdbcType=INTEGER},
            activeMenu = #{activeMenu,jdbcType=VARCHAR},
            enable     = #{enable,jdbcType=INTEGER},
            sort       = #{sort,jdbcType=INTEGER},
            updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            updated_by = #{updatedBy,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <insert id="addSysRoute" parameterType="com.jpeony.lotus.core.pojo.domain.SysMenu">
        insert into sys_menu ( parent_id, path, component, hidden, redirect, alwaysShow, name
                             , title, icon, noCache, breadcrumb, affix, activeMenu, enable, sort
                             , created_at, created_by, updated_at, updated_by)
        values ( #{parent_id,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{component,jdbcType=VARCHAR}
               , #{hidden,jdbcType=INTEGER}
               , #{redirect,jdbcType=VARCHAR}, #{alwaysShow,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
               , #{title,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{noCache,jdbcType=INTEGER}
               , #{breadcrumb,jdbcType=INTEGER}
               , #{affix,jdbcType=INTEGER}, #{activeMenu,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}
               , #{sort,jdbcType=INTEGER}
               , #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}
               , #{updatedAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER})
    </insert>
</mapper>
