<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jpeony.lotus.core.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.jpeony.lotus.core.pojo.domain.SysRoleDO">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>

    <select id="allRoles" resultType="com.jpeony.lotus.core.pojo.domain.SysRoleDO">
        select *
        from sys_role
    </select>

    <select id="roleById" resultType="com.jpeony.lotus.core.pojo.domain.SysRoleDO">
        select *
        from sys_role
        where id = #{roleId}
    </select>

    <select id="roleByRoleName" resultType="com.jpeony.lotus.core.pojo.domain.SysRoleDO">
        select *
        from sys_role
        where name = #{roleName}
    </select>

    <insert id="addSysRole" parameterType="com.jpeony.lotus.core.pojo.domain.SysRoleDO">
        insert into sys_role (name, intro, sort, created_at, created_by, updated_at, updated_by)
        values ( #{name,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}
               , #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}
               , #{updatedAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER})
    </insert>

    <update id="updateSysRole">
        update sys_role
        set name       = #{name,jdbcType=VARCHAR},
            intro      = #{intro,jdbcType=VARCHAR},
            sort       = #{sort,jdbcType=INTEGER},
            updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            updated_by = #{updatedBy,jdbcType=INTEGER}
        where id = #{id}
    </update>


    <delete id="delByRoleId">
        delete
        from sys_role
        where id = #{roleId}
    </delete>

</mapper>
