<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jpeony.lotus.core.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.jpeony.lotus.core.pojo.domain.SysUserRole">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>

    <select id="userRoleByUserId" resultType="com.jpeony.lotus.core.pojo.domain.SysUserRole">
        select *
        from sys_user_role
        where user_id = #{userId}
    </select>

    <delete id="delUserRolesByUserId">
        delete
        from sys_user_role
        where user_id = #{userId}
    </delete>

    <insert id="addSysUserRole" parameterType="com.jpeony.lotus.core.pojo.domain.SysUserRole">
        insert into sys_user_role (user_id, role_id, created_at, created_by, updated_at, updated_by)
        values ( #{user_id,jdbcType=INTEGER}, #{role_id,jdbcType=INTEGER}
               , #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}
               , #{updatedAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER})
    </insert>
</mapper>
