<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanhuigu.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.lanhuigu.pojo.domain.UserDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryUserByIdXML" parameterType="int" resultMap="BaseResultMap">
        select
        id,
        user_name
        from user
        where id = #{id}
    </select>
</mapper>