<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jpeony.lotus.core.mapper.SysRoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.jpeony.lotus.core.pojo.domain.SysRoleMenuDO">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>

    <select id="rolesByMenuId" resultType="com.jpeony.lotus.core.pojo.domain.SysRoleMenuDO">
        select *
        from sys_role_menu
        where menu_id = #{menuId}
    </select>

    <delete id="delByRoleId">
        delete
        from sys_role_menu
        where role_id = #{roleId}
    </delete>

    <delete id="delByMenuId">
        delete
        from sys_role_menu
        where menu_id = #{menuId}
    </delete>

    <insert id="addSysRoleMenu" parameterType="com.jpeony.lotus.core.pojo.domain.SysRoleMenuDO">
        insert into sys_role_menu (role_id, menu_id, created_at, created_by, updated_at, updated_by)
        values ( #{role_id,jdbcType=VARCHAR}, #{menu_id,jdbcType=VARCHAR}
               , #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}
               , #{updatedAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER})
    </insert>
</mapper>
