<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jpeony.lotus.core.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.jpeony.lotus.core.pojo.domain.SysUserDO">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="attcode" jdbcType="VARCHAR" property="attcode"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>

    <select id="getUserByUserName" resultType="com.jpeony.lotus.core.pojo.domain.SysUserDO">
        select *
        from sys_user
        where username = #{username}
    </select>

    <select id="getUserByToken" resultType="com.jpeony.lotus.core.pojo.domain.SysUserDO">
        select *
        from sys_user
        where token = #{token}
    </select>

    <select id="getUserById" resultType="com.jpeony.lotus.core.pojo.domain.SysUserDO">
        select *
        from sys_user
        where id = #{id}
    </select>

    <select id="usersList" resultType="com.jpeony.lotus.core.pojo.domain.SysUserDO">
        select *
        from sys_user
    </select>

    <update id="updateSysEnable">
        update sys_user
        set status     = #{status,jdbcType=INTEGER},
            updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            updated_by = #{updatedAy,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <update id="updateSysUser">
        update sys_user
        set username   = #{username,jdbcType=VARCHAR},
            avatar     = #{avatar,jdbcType=VARCHAR},
            name       = #{name,jdbcType=VARCHAR},
            phone      = #{phone,jdbcType=VARCHAR},
            updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            updated_by = #{updatedBy,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <delete id="realDelByUserId">
        delete
        from sys_user
        where id = #{userId}
    </delete>

    <update id="resetSysPWD">
        update sys_user
        set password   = #{password,jdbcType=VARCHAR},
            updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            updated_by = #{updatedBy,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <insert id="addSysUser" parameterType="com.jpeony.lotus.core.pojo.domain.SysUserDO">
        insert into sys_user (uid, username, password, salt, token, name, avatar, attcode, phone, status, created_at,
                              created_by, updated_at, updated_by)
        values ( #{uid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
               , #{salt,jdbcType=VARCHAR}
               , #{token,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}
               , #{attcode,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
               , #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}
               , #{updatedAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER})
    </insert>
</mapper>
