<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.CashOutMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.CashOut">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="cid" jdbcType="INTEGER" property="cid" />
        <result column="cashmoney" jdbcType="DOUBLE" property="cashmoney" />
        <result column="fee" jdbcType="INTEGER" property="fee" />
        <result column="outmoney" jdbcType="DOUBLE" property="outmoney" />
        <result column="alipaynum" jdbcType="VARCHAR" property="alipaynum" />
        <result column="realname" jdbcType="VARCHAR" property="realname" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="reason" jdbcType="VARCHAR" property="reason" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    </resultMap>

    <insert id="cashout" parameterType="com.mhjy.entity.CashOut">
        insert into co_cash_out (uid, cid, cashmoney, fee, outmoney, alipaynum, realname, status, reason, created_at, updated_at)
        values (#{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{cashmoney,jdbcType=DOUBLE}, #{fee,jdbcType=INTEGER}, #{outmoney,jdbcType=DOUBLE}
               , #{alipaynum,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}
               , #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP})
    </insert>

    <select id="cashOutHistory" resultType="com.mhjy.entity.CashOut">
        select * from co_cash_out where uid=#{uid}
    </select>

    <select id="sysCashoutList" resultType="com.mhjy.entity.CashOut">
        select * from co_cash_out
        <where>
            <if test="cid != 0">
                and cid = #{cid}
            </if>
            <if test="status != 0">
                and status = #{status}
            </if>
            <if test="alipaynum != null and alipaynum != ''">
                and alipaynum like CONCAT('%',#{alipaynum},'%')
            </if>
            <if test="realname != null and realname != ''">
                and realname like CONCAT('%',#{realname},'%')
            </if>
        </where>
    </select>

    <update id="verifyCashout">
        update co_cash_out set status = #{status, jdbcType=INTEGER},
                               reason = #{reason, jdbcType=VARCHAR},
                               updated_at = #{updated_at, jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

    <update id="verifyOutMoney">
        update co_cash_out set status = #{status, jdbcType=INTEGER},
                               updated_at = #{updated_at, jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

    <select id="totalOutMoney" resultType="java.lang.String">
        select sum(outmoney) as money from co_cash_out
        <where>
            <if test="type == 1">
                and TO_DAYS(created_at) = TO_DAYS(#{date})
            </if>
            <if test="type == 2">
                and DATE_FORMAT(created_at, '%Y%m' ) = DATE_FORMAT(#{date}, '%Y%m')
            </if>
            <if test="type == 3">
                and YEAR(created_at)=YEAR(#{date})
            </if>
        </where>
    </select>

    <select id="totalTransCount" resultType="java.lang.String">
        select count(id) as count from co_cash_out
        <where>
            <if test="type == 1">
                and TO_DAYS(created_at) = TO_DAYS(#{date})
            </if>
            <if test="type == 2">
                and DATE_FORMAT(created_at, '%Y%m' ) = DATE_FORMAT(#{date}, '%Y%m')
            </if>
            <if test="type == 3">
                and YEAR(created_at)=YEAR(#{date})
            </if>
            <if test="status != 0">
                and status = #{status}
            </if>
        </where>
    </select>



<!--    <select id="articleList" resultType="com.mhjy.entity.Article">-->
<!--        select * from yyg_article where uid=#{uid} and dele=0 order by updated_at desc-->
<!--    </select>-->


<!--    <update id="deleorunarticle">-->
<!--        update yyg_article sysSet dele = #{dele, jdbcType=INTEGER},-->
<!--                               updated_at = #{updated_at, jdbcType=TIMESTAMP}  where id = #{aid}-->
<!--    </update>-->

<!--    <update id="updateArticleReadedNum">-->
<!--        update yyg_article sysSet readed_num = #{readed_num, jdbcType=INTEGER},-->
<!--                               updated_at = #{updated_at, jdbcType=TIMESTAMP}  where id = #{aid}-->
<!--    </update>-->

</mapper>