<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.FundMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.Fund">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="cid" jdbcType="INTEGER" property="cid" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="fund" jdbcType="DOUBLE" property="fund" />
        <result column="alongid" jdbcType="INTEGER" property="alongid" />
        <result column="serialno" jdbcType="VARCHAR" property="serialno" />
        <result column="direction" jdbcType="INTEGER" property="direction" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    </resultMap>

    <select id="sysGetFundList" resultType="com.mhjy.entity.Fund">
        select * from co_fund
        <where>
            <if test="cid != 0">
                and cid=#{cid}
            </if>
            <if test="uid != null and uid != '' and uid != 0">
                and uid like CONCAT('%',#{uid},'%')
            </if>
            <if test="direction != 0">
                and direction like CONCAT('%',#{direction},'%')
            </if>
        </where>
    </select>

    <select id="fundHistoryWithUidAndDirection" resultType="com.mhjy.entity.Fund">
        select * from co_fund
        <where>
            <if test="uid != null and uid != '' and uid != 0">
                and uid like CONCAT('%',#{uid},'%')
            </if>
            <if test="direction != 0">
                and direction like CONCAT('%',#{direction},'%')
            </if>
        </where>
    </select>

    <insert id="addFund" parameterType="com.mhjy.entity.Fund">
        insert into co_fund (uid, cid, type, fund, alongid, serialno, direction, desc, created_at, updated_at)
        values (#{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{fund,jdbcType=DOUBLE}
               , #{alongid,jdbcType=INTEGER}, #{serialno,jdbcType=VARCHAR}, #{direction,jdbcType=INTEGER}, #{desc,jdbcType=VARCHAR}
               , #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP})
    </insert>

</mapper>