<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.ImageMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.Image">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="src" jdbcType="VARCHAR" property="src" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="link" jdbcType="VARCHAR" property="link" />
        <result column="enable" jdbcType="INTEGER" property="enable" />
        <result column="start_at" jdbcType="TIMESTAMP" property="start_at" />
        <result column="end_at" jdbcType="TIMESTAMP" property="end_at" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    </resultMap>

    <select id="imageList" resultType="com.mhjy.entity.Image">
        select * from co_image where place=#{place}
                                 and enable=1
                                 and unix_timestamp(start_at) &lt;= unix_timestamp(NOW())
                                 and unix_timestamp(end_at) &gt; unix_timestamp(NOW()) order by sort asc
    </select>

    <select id="sysImageList" resultType="com.mhjy.entity.Image">
        select * from co_image
    </select>

    <update id="sysUpdateEnable">
        update co_image
        set enable = #{enable, jdbcType=INTEGER},
            updated_at = #{updated_at, jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

    <delete id="sysDeleteImage">
        delete from co_image where id = #{id}
    </delete>

    <update id="sysUpdateImage">
        update co_image
        set place = #{place,jdbcType=INTEGER},
            title = #{title,jdbcType=VARCHAR},
            src = #{src,jdbcType=VARCHAR},
            sort = #{sort,jdbcType=INTEGER},
            type = #{type,jdbcType=INTEGER},
            link = #{link,jdbcType=VARCHAR},
            enable = #{enable, jdbcType=INTEGER},
            start_at = #{start_at,jdbcType=TIMESTAMP},
            end_at = #{end_at,jdbcType=TIMESTAMP},
            updated_at = #{updated_at, jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

    <insert id="sysAddImage" parameterType="com.mhjy.entity.Image">
        insert into co_image (place, title, src, sort, type, link, enable, start_at, end_at, created_at, updated_at)
        values (#{place,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{src,jdbcType=VARCHAR}
               , #{sort,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{link,jdbcType=VARCHAR}
               , #{enable,jdbcType=INTEGER}, #{start_at,jdbcType=TIMESTAMP}, #{end_at,jdbcType=TIMESTAMP}
               , #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP})
    </insert>

</mapper>