<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.PaperHistoryMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.PaperHistory">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="paperid" jdbcType="INTEGER" property="paperid" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
        <association property="paper" javaType="com.mhjy.entity.Paper">
            <result column="uid" jdbcType="INTEGER" property="puid" />
            <result column="sex" jdbcType="INTEGER" property="sex" />
            <result column="portraits" jdbcType="VARCHAR" property="portraits" />
            <result column="vxnum" jdbcType="VARCHAR" property="vxnum" />
            <result column="intro" jdbcType="VARCHAR" property="intro" />
        </association>
    </resultMap>

    <insert id="addPaperHistory" parameterType="com.mhjy.entity.PaperHistory">
        insert into co_paper_history (uid, paperid, type , created_at, updated_at)
        values (#{uid,jdbcType=INTEGER}, #{paperid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},
                #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP})
    </insert>

    <select id="paperHistory" resultType="com.mhjy.entity.PaperHistory">
        select * from co_paper_history where uid=#{uid} and type=#{type}
    </select>

    <select id="paperHistoryWithCidTypeSexIntro" resultType="com.mhjy.entity.PaperHistory">
        select h.id, h.uid, h.paperid, h.cid, h.created_at, p.sex, p.uid as puid, p.portraits, p.vxnum, p.intro  from co_paper_history h join co_paper p on h.paperid=p.id
        <where>
            <if test="cid != 0">
                and h.cid=#{cid}
            </if>
            <if test="type != 0">
                and h.type=#{type}
            </if>
            <if test="sex != 0">
                and p.sex=#{sex}
            </if>
            <if test="intro != null">
                and p.intro like CONCAT('%',#{intro},'%')
            </if>
            and p.del != 1
        </where>
    </select>


    <delete id="delPaperHistory">
        delete from co_paper_history where id=#{id}
    </delete>

</mapper>