<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.SuggestMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.Suggest">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="suggest_uid" jdbcType="INTEGER" property="suggest_uid" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    </resultMap>

    <insert id="publishSuggest" parameterType="com.mhjy.entity.Suggest">
        insert into co_suggest (suggest_uid, content, created_at, updated_at)
        values (#{suggest_uid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}
        , #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP})
    </insert>

    <select id="sysMessageList" resultType="com.mhjy.entity.Suggest">
        select * from co_suggest where DATE_FORMAT(created_at,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
                                         and DATE_FORMAT(created_at,'%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d')
    </select>

</mapper>