<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.TradeMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.Trade">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="cid" jdbcType="INTEGER" property="cid" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="along_id" jdbcType="INTEGER" property="along_id" />
        <result column="trade_no" jdbcType="VARCHAR" property="trade_no" />
        <result column="fen" jdbcType="DOUBLE" property="fen" />
        <result column="prepay_id" jdbcType="VARCHAR" property="prepay_id" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    </resultMap>

    <select id="tradehistory" resultType="com.mhjy.entity.Trade">
        select * from co_trade where uid=#{uid}
    </select>

    <insert id="trade" parameterType="com.mhjy.entity.Trade">
        insert into co_trade (uid, cid, type, along_id, trade_no, prepay_id, fen, created_at, updated_at)
        values (#{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{along_id, jdbcType=INTEGER}
                , #{trade_no,jdbcType=VARCHAR}, #{prepay_id, jdbcType=VARCHAR}, #{fen,jdbcType=DOUBLE}
                , #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP})
    </insert>

    <select id="tradeWithTradeNo" resultType="com.mhjy.entity.Trade">
        select * from co_trade where trade_no=#{tradeno}
    </select>

    <select id="sysTradeList" resultType="com.mhjy.entity.Trade">
        select * from co_trade
            <where>
                <if test="cid != 0">
                    and cid=#{cid}
                </if>
                <if test="type != 0">
                    and type=#{type}
                </if>
                <if test="status != 0">
                    and status=#{status}
                </if>
                and DATE_FORMAT(created_at,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
                and DATE_FORMAT(created_at,'%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d')

            </where>
    </select>

    <update id="updateStatus">
        update co_trade set status = #{status, jdbcType=INTEGER} where trade_no = #{tradeno}
    </update>

    <select id="totalChargeMoney" resultType="java.lang.String">
        select sum(fen) as money from co_trade
        <where>
            <if test="index == 1">
                and TO_DAYS(created_at) = TO_DAYS(#{date})
            </if>
            <if test="index == 2">
                and DATE_FORMAT(created_at, '%Y%m' ) = DATE_FORMAT(#{date}, '%Y%m')
            </if>
            <if test="index == 3">
                and YEAR(created_at)=YEAR(#{date})
            </if>
            <if test="type != 0">
                and type=#{type}
            </if>
                and status = 1
        </where>
    </select>

</mapper>
