<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhjy.mapper.UserExtrMapper">

    <resultMap id="BaseResultMap" type="com.mhjy.entity.UserExtr">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="cid" jdbcType="INTEGER" property="cid" />
        <result column="enable" jdbcType="INTEGER" property="enable" />
        <result column="isVIP" jdbcType="INTEGER" property="isVIP" />
        <result column="vip_expire" jdbcType="TIMESTAMP" property="vip_expire" />
        <result column="ismatch" jdbcType="INTEGER" property="ismatch" />
        <result column="match_expire" jdbcType="TIMESTAMP" property="match_expire" />
        <result column="income" jdbcType="DOUBLE" property="income" />
        <result column="remaining" jdbcType="DOUBLE" property="remaining" />
        <result column="attCode" jdbcType="VARCHAR" property="attCode" />
        <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    </resultMap>

    <insert id="addUserExtr" parameterType="com.mhjy.entity.UserExtr">
        insert into co_user_extr (uid, cid, ismatch, match_expire, enable, isVIP, vip_expire, income, remaining, attCode, created_at, updated_at)
        values (#{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{ismatch,jdbcType=INTEGER}, #{match_expire,jdbcType=TIMESTAMP},  #{enable,jdbcType=INTEGER}
                , #{isVIP,jdbcType=INTEGER}, #{vip_expire,jdbcType=TIMESTAMP},
                #{income,jdbcType=DOUBLE}, #{remaining,jdbcType=DOUBLE}, #{attCode,jdbcType=VARCHAR},
                #{created_at,jdbcType=TIMESTAMP}, #{updated_at,jdbcType=TIMESTAMP})
    </insert>

    <select id="getUserExtr" resultType="com.mhjy.entity.UserExtr">
        select * from co_user_extr where uid = #{uid}
    </select>


    <select id="getUserExtrWithAttCode" resultType="com.mhjy.entity.UserExtr">
        select * from co_user_extr where attCode = #{attCode}
    </select>

    <!--更新用户Cid-->
    <update id="updateUserExtrCid">
        update co_user_extr set cid = #{cid,jdbcType=INTEGER}, updated_at = #{updatedAt, jdbcType=TIMESTAMP}  where uid = #{uid}
    </update>

    <!--更新用户可用状态-->
    <update id="updateUserExtrEnable">
        update co_user_extr set enable = #{enable,jdbcType=INTEGER}, updated_at = #{updatedAt, jdbcType=TIMESTAMP}  where uid = #{uid}
    </update>

    <!--更新用户月老状态 过期时间&状态-->
    <update id="updateUserExtrMatch">
        update co_user_extr set ismatch = #{ismatch,jdbcType=INTEGER}, match_expire=#{match_expire, jdbcType=TIMESTAMP}, updated_at = #{updatedAt, jdbcType=TIMESTAMP}  where uid = #{uid}
    </update>

    <!--更新用户VIP状态 过期时间&状态-->
    <update id="updateUserExtrVIP">
        update co_user_extr set isVIP = #{isVIP,jdbcType=INTEGER}, vip_expire=#{match_expire, jdbcType=TIMESTAMP}, updated_at = #{updatedAt, jdbcType=TIMESTAMP}  where uid = #{uid}
    </update>

    <!--更新用户收入-->
    <update id="updateUserExtrIncome">
        update co_user_extr set income = #{income,jdbcType=DOUBLE}, updated_at = #{updatedAt, jdbcType=TIMESTAMP}  where uid = #{uid}
    </update>

    <!--更新用户可提现金额-->
    <update id="updateUserExtrRemain">
        update co_user_extr set remain = #{remain,jdbcType=DOUBLE}, updated_at = #{updatedAt, jdbcType=TIMESTAMP}  where uid = #{uid}
    </update>




</mapper>
